/*
 * @Author: Siwen
 * @Date: 2019-08-12 11:11:37
 * @LastEditors: Siwen
 * @LastEditTime: 2019-08-12 16:04:10
 * @Description: 颜色变量
 */
@import './mixin.scss';
$main-color: #c4293e;
$bg-color: #f3f5f9;
$menu-item: #333;
$introduce-item: #333;
$menu-item-active: #c4293e;
$white: #fff;
$text3: #333;
$text6: #666;
$text9: #999;
